<h1> Make new account </h1>

<form action= "<%= users_url %>" method="POST">

    <label> Username
        <input type="text" name="user[username]">
    </label>

    <label> Password
        <input type="password" name="user[password]">
    </label>

    <button> Let's go! </button>

</form>